@import 'tailwindcss';

@theme {
  --color-purple-975: oklch(24% 0.13 302.717);
  --color-purple-1000: oklch(20% 0.11 302.717);
}

@layer base {
  * {
    font-family: 'Inter', sans-serif;
  }

  html {
    height: 100%;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
  }

  .p-togglebutton {
    background-color: var(--color-purple-1000) !important;
    border-width: 0 !important;
    color: white !important;
    font-weight: 700 !important;
  }

  .p-togglebutton-checked {
    .p-togglebutton-content {
      background-color: theme(--color-orange-500) !important;
      color: theme(--color-purple-950);
    }
  }
}

@font-face {
  font-family: 'Scoreboard';
  src: url('@/assets/fonts/scoreboard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by showing fallback text first */
}

@layer utilities {
  .clip-corners {
    clip-path: polygon(
      0 20px,
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }
}
