@import "tailwindcss";

@layer base {
  * {
    font-family: 'Inter', sans-serif;
  }

  html {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
  }
}
